* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration:none;
}

.container{
  width: 60%;
  margin: 0 auto;
}

li:hover{
  text-decoration: underline;
}

.btn{
  padding: 10px 30px;
  font-size: 20px;
  text-transform: uppercase;
  &-black{
    color: white;
    background-color: black;
  }
  &-border{
    border: 2px solid black;
  }
}
