footer{
  width: 100%;
  .footer-up{
    width: 100%;
    height: $footer-upH;
    background-color: $footUp-col;
    .container{
      @include flex;
      .credits{
        width: $creditsW;
        padding-top: 40px;
        padding-left: 15px;
        ul{
          padding-top: 20px;
          li{
            padding-bottom: 10px;
            a{
              font-size: 12px;
              color: grey;
            }
          }
        }
      }
    }
  }
  .footer-down{
    width: 100%;
    height: $footer-downH;
    background-color: $footdown-col;
  }
}
