nav{
  width: 100%;
  background-color: $nav-col;
  .#{&}-up{
    height: $nav-upH;
    line-height: $nav-upH;
    @include flexEnd;
    ul{
      @include flex;
      li{
        font-size: 13px;
        i{
          padding-left: 20px;
          padding-right: 5px;
          color: $icons-col;
        }
        a{
          color: lightgrey;
        }
      }
    }
    select{
      margin-left: 20px;
    }
  }
  .#{&}-down{
    height: $nav-downH;
    line-height: $nav-downH;
    @include flex;
    img{
      width: 90px;
    }
    ul{
      @include flex;
      li{
        a{
          padding-left: 30px;
          color: white;
        }
      }
    }

  }
}
