nav{
  width: 100%;
  background-color: $nav-col;
  .#{&}-up{
    height: $nav-upH;
    color: lightgrey;
    line-height: $nav-upH;
    @include flexEnd;
    ul{
      @include flex;
    }
    i{
      padding-left: 20px;
      padding-right: 5px;
      color: $icons-col;
    }
    select{
      margin-left: 20px;
    }
  }
  .#{&}-down{
    height: $nav-downH;
    color: white;
  }
}
