// COLORI
$nav-col: #101010;
$icons-col: #009CFF;
$promo-col: #c70cb9;
$footUp-col: #ECECEC;
$footdown-col:#1E1E1E;


// DIMENSIONI
$nav-upH: 45px;
$nav-downH: 50px;
$jumboH: 500px;
$footer-upH: 330px;
$footer-downH: 80px;
$creditsW: 25%;
